
<div class="content">
    <table class="table mx-auto table-bordered table-sm text-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col"><span class="fas fa-calendar-alt"></span> Fecha</th>
                <th scope="col"><span class="fas fa-thumbtack"></span> Actividad</th>
                <th scope="col"><span class="fas fa-comments"></span> Comentario</th>
                <TH scope="col"><span class="fas fa-exclamation"></span> Importancia</TH>
            </tr>
        </thead>
        {{#each registros}}
        <tbody>
            <tr>
                <th scope="row">{{id}}</th>
                <td>{{fecha}}</td>
                <td>{{actividad}}</td>
                <td>{{comentario}}</td>
                <td>{{importancia}}</td>
            </tr>


        </tbody>
        {{/each}}
    </table>
</div>
